@model ProjektStrona_EG_IG.Models.Produkt
<style>

    body {
        background: linear-gradient(120deg, #fefcea, #f1daff, #d6f6ff, #ffe5d9);
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-family: Kristen ITC;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
        padding-bottom: 40px;
        text-shadow: 3px 3px 5px grey;
    }

    .color {
        background-color: lightpink;
        padding: 10px;
    }

    div label {
        font-size: 25px;
        font-family: Century Gothic;
        font-style: italic;
    }

    .przycisk {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 30px;
        background-color: rgb(208,135,169);
        color: black;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid black;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s, border-color 0.3s;
    }

</style>
<h1>Edytuj Dane Produktu</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Nazwa">Zmień nazwe produktu</label>
        <input asp-for="Nazwa" class="form-control color" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Opis">Zmień opis produktu</label>
        <input asp-for="Opis" class="form-control color" />
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cena">Zmień cene produktu</label>
        <input asp-for="Cena" class="form-control color" />
        <span asp-validation-for="Cena" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IloscDostepna">Zmień ilość dostępną produktu</label>
        <input asp-for="IloscDostepna" class="form-control color" />
        <span asp-validation-for="IloscDostepna" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZdjecieUrl">Zmień zdjęcie produktu</label>
        <input asp-for="ZdjecieUrl" class="form-control color" />
        <span asp-validation-for="ZdjecieUrl" class="text-danger"></span>
    </div>
    <button type="submit" style="background-color:RGB(202,158,205);" class="btn btn-primary przycisk">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary przycisk">Anuluj</a>
</form>

<!--Walidacja-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
