
@{
    ViewData["Title"] = "Error1";
}
<style>

    body {
        background: linear-gradient(120deg, #fefcea, #f1daff, #d6f6ff, #ffe5d9);
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    h1 {
        font-family: Kristen ITC;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
        padding-bottom: 40px;
        text-shadow: 3px 3px 5px grey;
    }
</style>

<h1>Brak zalogowanego uzytkownia</h1>

