@page
@model LoginModel
<style>

    body {
        background: linear-gradient(120deg, #fefcea, #f1daff, #d6f6ff, #ffe5d9);
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    h1 {
        font-family: Kristen ITC;
        text-align: center;
        font-size: 50px;
        padding-top: 30px;
        padding-bottom: 40px;
        text-shadow: 3px 3px 5px grey;
    }

    .przycisk {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(208,135,169);
        color: black;
        text-decoration: none;
        border-radius: 5px;
        border: 2px solid black;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s, border-color 0.3s;
    }
    h2{
        font-family: Century Gothic;
    }
    p a{
        text-decoration:none;
        color:black;
    }

    .color {
        background-color: lightpink;
        padding: 10px;
    }
</style>
@{
    ViewData["Title"] = "Log in";
}

<h1>Logowanie</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Użyj lokalnego konta do logowania</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control color" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control color" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Zapamietaj?
                    </label>
                </div>
                <div>
                    <button id="login-submit" class="przycisk" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj</button>
                </div>
                <br/>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Założ konto</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij ponownie kod potwierdzajacy e-mail</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
